<div class="mt-10 bg-gray-900 text-white m-auto w-1/2">
  <div class="text-center border-white border-4 py-2">
    <h1 class="text-4xl">Meine Todos</h1>
    <p>Total Todos:{{ todos.length }}</p>
    <p>Open Todos:{{ countOpenTodos().length }}</p>
    <p>Done Todos:{{ todos.length - countOpenTodos().length }}</p>
    <div class="py-2 flex gap-2 justify-center">
      <input type="text" class="text-black" (keyup)="setTodo($event)" />
      <button class="bg-[#a8720d] px-2 py-1" (click)="addTodo()">
        Add Todo
      </button>
    </div>
  </div>

  <div *ngFor="let todo of todos; let i = index">
    <app-todo
      [todo]="todo"
      [index]="i"
      (todoIndex)="toggleTodo($event)"
      (deleteIndex)="deleteTodo($event)"
    ></app-todo>
  </div>
</div>
